:host {
  display: flex;
  flex: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 100%;

  .header {
    border-bottom: 1px solid black;
    margin: 20px;

    .btn-group {
      button {
        border: 0;
        background: none;
        margin: 15px;
        cursor: pointer;
        color: #767676;

        &:focus {
          outline: none;

        }



      }

      .selected {
        border-bottom: 1px solid black;
        font-weight: bolder;
        color: black;
      }
    }
  }

  .content {
    display: flex;
    flex: 100%;
    flex-direction: column;
    margin: 20px;
  }
}
