<div class="container">
  <div class="header">
    <div class="btn-group">
      <button [ngClass]="{'selected': selected === 'Home'}" (click)="toggle('Home')">Home</button>
      <button [ngClass]="{'selected': selected === 'Front End'}" (click)="toggle('Front End')">Front End</button>
      <button [ngClass]="{'selected': selected === 'Back End'}" (click)="toggle('Back End')">Back End</button>
      <button [ngClass]="{'selected': selected === 'Testing'}" (click)="toggle('Testing')">Testing</button>
    </div>
  </div>
  <div class="content">
    <p *ngIf="selected === 'Home'">Glance of some of the modern Full Stack technologies which are in current trend.</p>
    <ng-container *ngIf="selected !== 'Home'">
      <div *ngFor="let item of list | filter: selected">
        <app-card [item]="item"></app-card>
      </div>
    </ng-container>


  </div>
</div>
